// Font-Awesome
@import '../../node_modules/font-awesome/scss/variables';

$fa-font-path:'../fonts/';

$neutral-lighter: #f1f1f1;
$neutral-light: #dddddd;
$neutral: #999999;
$neutral-dark: #666666;
$neutral-darker: #333333;

// Bootstrap
@import '../../node_modules/bootstrap/scss/variables';

$enable-flex: true;
$screen-xs: 640px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$font-family-sans-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;;

// Colors
$primary-color: #870013;
$body-bg: #f1f1f1;
$page-bg: $neutral-light;
$link-color: $primary-color;
$info-color: #337ab7;
$focus-color: #337ab7;
$success-color: #5cb85c;
$error-color: #ea073c;
$checkbox-color: $primary-color;
$checkbox-bg-color: #ffffff;
$switch-btn-color: #ffffff;

// Nav
$nav-bg: #ffffff;
$nav-color: #000000;
$nav-logo: '../img/index/logo@2x.png';